@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  --cor-principal:rgb(255, 112, 181);
  --cor-secundaria:rgb(80, 17, 141);
  --cor-destaque: rgb(232, 220, 220);
}

body {
  font-family: 'Oswald', sans-serif;
}

h1,h2,h5 {
  color: var(--cor-secundaria);
  font-weight: 600;
}

footer a {
  color: var(--cor-principal);
}

footer a:hover {
  color: var(--cor-destaque)
}
